<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.2" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net452" />
  <package id="Google.Protobuf.Tools" version="3.3.0" targetFramework="net452" />
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
  <package id="QuickFont.Desktop" version="4.4.6159.26433" targetFramework="net452" />
  <package id="SharpFont" version="4.0.1" targetFramework="net452" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net452" />
</packages>